input[type='text'],
input[type='number'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0px;
  display: inline-block;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f0f0f0;
  padding: 20px;
  background-image: linear-gradient(
    to bottom,
    #8ef4ff,
    #7af1fb,
    #63eef6,
    #46ebf1,
    #12e8eb
  );
}
.container-main {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px;
  background-image: linear-gradient(
    to bottom,
    #70f9e7,
    #60f5e8,
    #4ff1e9,
    #38ecea,
    #12e8eb
  );
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  label {
    width: 100%;
    padding: 6px 6px 0px 0px;
  }
}

input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
  outline: none;
}
label,
h1 {
  font-family: 'Acme', sans-serif;
}
h1 {
  text-align: center;
  border-radius: 5px;
  background-color: #f0f0f0;
  padding: 12px;
  font-size: 30px;
  background-image: linear-gradient(to top, #7ff3f9, #77f3f6, #70f2f2);
  color: rgb(23, 106, 184);
}
label {
  font-size: 13px;
  color: rgb(3, 65, 122);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
body {
  background-image: linear-gradient(to bottom, #4ff1e9, #38ecea, #12e8eb);
}
